@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

/* colors */
:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --Llght-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}
/* colors*/

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
h1,
h2,
h4,
h5,
h6 {
    font-weight: 600;
    color: var(--dark-grayish-blue);
}

h3 {
     font-size: 1.5rem;
     font-weight: 600;
     color: var(--dark-grayish-blue);
}

p {
    color: var(--grayish-blue);
    line-height: 1.5rem;
    font-size: 1rem;
}
a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* hero section */
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./img/bg-header-mobile.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-container .logo {
    margin-top: 7rem;
    transform: scale(.9);
}
.hero-container h1 {
    text-align: center;
    font-size: 1.8rem;
    padding: 1.4rem 2.2rem;   
}
.hero-container p {
    text-align: center;
    padding: 0rem .9rem;
    margin-bottom: 2rem
}
.hero-container .btn {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cta-ios,
.cta-mac {
    font-weight: 600;
    padding: 1rem 5rem;
    background-color: var(--strong-cyan);
    border-radius: 2rem;
    -webkit-box-shadow: 0px 1px 2px 1px hsl(171, 73%, 36%);
    box-shadow: 0px 1.5px .5px 1px hsl(171, 73%, 36%);
    transition: 0.6s cubic-bezier(0.5, 1, 0.89, 1)
}
.cta-mac {
    background-color: var(--Llght-blue);
    -webkit-box-shadow: 0px 1px 2px 1px hsl(233, 61%, 58%);
    box-shadow: 0px 1.5px .5px 1px hsl(233, 61%, 58%);
}
.cta-ios:hover,
.cta-mac:hover {
    opacity: .8;
}
/* end hero section */

/* services section */
.services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    margin-top: 1rem;
}
.services h3 {
    padding: 0 2rem;
    text-align: center;
}
.services p {
    text-align: center;
    padding: 1rem .5rem;
    margin-bottom: 2rem;
}
.service .service-img {
    max-width: 550px;
    margin-bottom: 4rem;
}
.service-text h4 {
    text-align: center;
    font-size: 1.4rem;
} 
/* end service section */

/* access */
.access-clipboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.2rem;
}
.access-clipboard h3 {
    text-align: center;
    padding: 1rem 1.2rem;
    margin-top: 5rem;
}
.access-clipboard p {
    text-align: center;
    padding: 1rem 1rem;
    margin-bottom: 3rem;
}
.access-img {
    max-width: 650px;
    margin-bottom: 5rem;
}
/* end access */

/* workflow */
.workflow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.workflow-container h3 {
    padding: 1rem 3rem;
    text-align: center;
}
.workflow-container p {
    text-align: center;
    padding: 0 2rem;
    margin-bottom: 5rem;
}
.workflow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.workflow h4 {
    margin-top: 2rem;
    font-size: 1.3rem;
}
.workflow p {
    margin-bottom: 3rem;
}
.clients {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:  3rem;
    transform: scale(.8);
    margin-bottom: 4rem;
}
/* end workflow */

/* download */
.download-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.download-links h3 {
    text-align: center;
    padding: 1rem 2.5rem;
}
.download-links p {
    text-align: center;
    padding: 1rem 2.5rem;
    margin-bottom: 2rem;
}
.download-links .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 8rem;
}
/* end download */

/* footer section */
footer {
    background: hsl(220, 18%, 97%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-logo {
    transform: scale(.4);
}
.useful-links ul {
    text-align: center; 
}
.links a{
    color: var(--dark-grayish-blue);
    transition: 0.4s cubic-bezier(0.5, 1, 0.89, 1);
}
.links a:hover {
    color: var(--strong-cyan);
}
.links ul li {
    color: var(--dark-grayish-blue);
    text-align: center;
    margin-bottom: 1rem;
}
.social-icons ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 3rem 0;
}
.social-icons i {
    color: var(--dark-grayish-blue);
    transform: scale(1.5);
    transition: 0.5s cubic-bezier(0.45, 0, 0.55, 1);
}
.social-icons i:hover {
    color: var(--strong-cyan);
}
.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--dark-grayish-blue);
}
.attribution a {
    color: var(--strong-cyan);
}
/* end footer section */

@media only screen and  (min-width: 900px) {
    .hero-container {
        background-image: url(./img/bg-header-desktop.png);
        width: 100%;
    }
    .hero-container h1 {
        font-size: 2.2rem;
    }
    .hero-container p {
        text-align: center;
        padding: 0rem 10rem;
        margin-bottom: 2rem;
    }
    .hero-container .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 2rem;
    }
    .services h3 {
        margin-top: 4rem;
    }
    .services p {
        padding: 1rem 8rem;
        margin-bottom: 3rem;
    }
    .service {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .service-img {
        max-width: 820px;
        margin-left: -4rem;
    }
    .service-text {
        max-width:550px;
    }
    .service-text p {
        margin-bottom:  1rem;
    }
    .access-clipboard p {
        padding: 1rem 8rem;
    }
    .access-img {
        max-width: 820px;
    }
    .all-workflow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
    .workflow {
        gap: 1rem;
        margin-bottom: 5rem;
    }
    .workflow p:nth-of-type(1) {
        padding: 0 3rem;
    }
    .clients {
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 7rem;
    }
    .download-links p {
        text-align: center;
        padding: 1rem 8rem;
    }
    .download-links .btn {
        flex-direction: row;
    }
    .footer-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        padding: 0 2rem;
    }
    .useful-links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 3rem;
    }
    .useful-links ul li {
        text-align: left;
    }
    .links:nth-of-type(3) {
        margin-top: -2.3rem;
    }
    .social-icons ul {
        gap: 2rem; 
    }

}

@media only screen and (min-width: 1280px) {
    .hero-container p {
        padding: 0rem 21rem;
    }

    .services p {
        padding: 1rem 18rem;
        margin-bottom: 3rem;
    }

    .service p {
        padding: 0 5rem;
    }

    .service-img {
        max-width: 880px;
        margin-left: -14rem;
    }

    .service-text {
        padding: 0 2rem;
    }
      .access-img {
          max-width: 1150px;
      }

    .access-clipboard p {
        padding: 1rem 20rem;
    }

    .download-links p {
        text-align: center;
        padding: 1rem 20rem;
    }
}

@media only screen and (min-width: 1366px) {
    .hero-container p {
        padding: 0rem 25rem;
    }

    .services p {
        padding: 1rem 21rem;
        margin-bottom: 3rem;
    }

    .service p {
        padding: 0 5rem;
    }

    .service-img {
        max-width: 900px;
        margin-left: -20rem;
    }

    .service-text {
        padding: 0 2rem;
    }
      .access-img {
          max-width: 1250px;
      }

    .access-clipboard p {
        padding: 1rem 21rem;
    }

    .workflow p:nth-of-type(1) {
        padding: 0 6rem;
    }

    .download-links p {
        text-align: center;
        padding: 1rem 22rem;
    }
}

@media only screen and (min-width: 1440px) {
    .hero-container p {
        padding: 0rem 27rem;
    }

    .services p {
        padding: 1rem 23rem;
    }

    .service p {
        padding: 0 5rem;
    }

    .service-img {
        max-width: 940px;
        margin-left: -25rem;
    }

      .access-img {
          max-width: 1320px;
      }

    .access-clipboard p {
        padding: 1rem 24rem;
    }

    .workflow p:nth-of-type(1) {
        padding: 0 6rem;
    }

    .download-links p {
        text-align: center;
        padding: 1rem 24rem;
    }
}
/* end media query */