@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

/* colors */
:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --Llght-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}
/* colors*/

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

